In [1]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

import numpy as np
import json

from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from google.cloud import bigquery
from witwidget.notebook.visualization import WitWidget, WitConfigBuilder

In [2]:
query="""
SELECT
  weight_pounds,
  is_male,
  mother_age,
  plurality,
  gestation_weeks
FROM
  publicdata.samples.natality
WHERE year > 2000
LIMIT 10000
"""
df = bigquery.Client().query(query).to_dataframe()
df.head()

   weight_pounds  is_male  mother_age  plurality  gestation_weeks
0       6.426475    False          26          1             38.0
1       6.181762    False          30          1             38.0
2       8.750147     True          35          1             40.0
3       6.812284    False          31          1             40.0
4       7.500126    False          30          1             38.0

In [3]:
df.describe()

       weight_pounds   mother_age     plurality  gestation_weeks
count    9993.000000  10000.00000  10000.000000      9890.000000
mean        7.267211     27.26740      1.033900        38.702123
std         1.343418      6.21316      0.202373         2.624828
min         0.562179     12.00000      1.000000        19.000000
25%         6.624891     22.00000      1.000000        38.000000
50%         7.374463     27.00000      1.000000        39.000000
75%         8.068919     32.00000      1.000000        40.000000
max        12.438481     51.00000      5.000000        47.000000

In [4]:
df['is_male'].value_counts()

True     5124
False    4876
Name: is_male, dtype: int64

In [5]:
df = df.dropna()
df = shuffle(df, random_state=2)

In [6]:
labels = df['weight_pounds']
data = df.drop(columns=['weight_pounds'])
data['is_male'] = data['is_male'].astype(int)

In [7]:
data.head()

      is_male  mother_age  plurality  gestation_weeks
4675        1          23          1             38.0
2971        1          26          1             40.0
4466        0          21          1             39.0
3723        1          23          1             36.0
4541        0          23          1             39.0

In [8]:
data.head()

      is_male  mother_age  plurality  gestation_weeks
4675        1          23          1             38.0
2971        1          26          1             40.0
4466        0          21          1             39.0
3723        1          23          1             36.0
4541        0          23          1             39.0